@import 'maplibre-gl/dist/maplibre-gl.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    background-color: #f7f9ff;
    color: #111d28;
    font-family: 'IBM Plex Sans', sans-serif;
  }

  /* Custom technical scrollbars */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #edf1f4;
  }
  ::-webkit-scrollbar-thumb {
    background: #72787f;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #4e6076;
  }
}
